[package]
name = "pacman"
version = "0.1.0"
authors = ["Warhorst <46809804+Warhorst@users.noreply.github.com>"]
edition = "2021"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[dependencies]
bevy = "0.8.1"
rand = "0.8.5"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
wgpu-types = "0.13.0"
anyhow = "1.0.58"
bevy_common_assets = { version = "0.3.0", features = ["json"]}
bevy-inspector-egui = "0.13.0"